.zhique-editor-wrapper {
  padding: 0 30px;
  height: 100%;

  .zhique-editor-toolbar {
    height: 100%;
    line-height: 50px;

    .editor-toolbar-container {
      .editor-tool-menu {
        list-style: none;
        margin: 0;
        padding: 0;

        & > li {
          line-height: 100%;
          padding: 5px 1px;
          display: inline-block;
          font-size: 14px;
          color: #666;

          &.divider {
            height: 65%;
            text-indent: -9999px;
            margin-left: 5px;
            margin-right: 6px;
            border-right: 1px solid #ddd;
          }

          & > i {
            cursor: pointer;
            display: inline-block;
            line-height: 100%;
            font-weight: bold;
            min-width: 24px;
            text-align: center;
            text-decoration: none;
          }

          &:hover {
            color: #5f88ff;
            background: #e8e8e8;
          }
        }
      }
    }

  }

  .zhique-editor-area {
    width: 100%;
    background: #fff;

    .zhique-editor {
      margin-right: 10px;
      width: calc(50% - 10px);
      height: 100%;
      float: left;

      .react-codemirror2 {
        height: 100%;
      }
    }

    .zhique-markdown-preview {
      margin-left: 10px;
      width: calc(50% - 10px);
      height: 100%;
      float: right;
      overflow: hidden;

      &.preview-only {
        width: calc(100% - 10px);
      }

      tr {
        border-top: 1px solid #c6cbd1;
        background: #fff;
      }

      th, td {
        padding: 6px 13px;
        border: 1px solid #dfe2e5;
      }

      table tr:nth-child(2n) {
        background: #f6f8fa;
      }

      blockquote {
        border-left: 0.5em #eee solid;
        margin-inline-start: 0;
        padding-inline-start: 40px;
      }

      p > code {
        margin-left: 5px;
        margin-right: 4px;
      }

      code {
        border: 1px solid #ddd;
        background: #f6f6f6;
        padding: 3px;
        border-radius: 3px;
        font-size: 14px;
        color: #999;
      }
    }
  }

}
